.message-topic-cards-enabled {
  .topic-list-item {
    width: 100%;

    td.topic-list-data {
      max-width: none !important;
      width: 100% !important;
      padding: 0 !important;
    }

    td.main-link {
      width: 100%;
    }

    .pull-left {
      display: none !important;
    }

    .right {
      margin-left: 0 !important;
    }

    .topic-item-metadata {
      margin-left: 0 !important;
      width: 100%;
      max-width: none !important;

      .main-link {
        display: none !important;
      }

      .pull-right {
        display: none !important;
      }

      .topic-item-stats {
        display: none !important;
      }
    }
  }
}

.message-topic-card {
  max-width: none;
  width: 100%;
  padding: 0 11px;
}

.message-topic-card__link {
  padding: 1em;
  gap: 0.5em;
}

.message-topic-card__title {
  font-size: var(--font-0);
}

.message-topic-card__excerpt {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  .topic-excerpt {
    width: 100% !important;
    max-width: 100%;
  }
}
